<page title="Web">
	<script src="asap.js"> </script>
	<script src="asapweb.js"> </script>
	<script>
		function openFiles(files)
		{
			const select = document.getElementById("fileSelect");
			switch (files.length) {
			case 0:
				alert("No supported file selected");
				return;
			case 1:
				select.style.display = "none";
				break;
			default:
				select.innerHTML = "";
				for (const file of files)
					select.add(new Option(file.name));
				select.style.display = "";
				break;
			}
			document.getElementById("pauseButton").style.display = "";
			asapWeb.onUpdate = update;
			asapWeb.playFile(files[0]);
		}
		function update()
		{
			const seekBar = document.getElementById("seekBar");
			seekBar.style.display = "";
			const info = asapWeb.asap.getInfo();
			seekBar.max = info.getDuration(info.getDefaultSong());
			seekBar.value = asapWeb.asap.getPosition();
		}
	</script>
	<p>Play your local Atari 8-bit chiptunes on this page.
	Select one or more files from your device. The files will <em>not</em> be uploaded, but played right in your browser using JavaScript.</p>
	<p>Select file(s):
		<input id="fileInput" type="file" multiple="multiple" onchange="openFiles(this.files)" accept=".sap,.cmc,.cm3,.cmr,.cms,.dmc,.dlt,.mpt,.mpd,.rmt,.tmc,.tm8,.tm2,.fc" />
		<select id="fileSelect" onchange="asapWeb.playFile(fileInput.files[this.selectedIndex])" style="display: none"> </select>
		<input id="pauseButton" type="button" value="Pause" style="display: none" onclick="asapWeb.togglePause()" />
		<input id="seekBar" type="range" style="display: none" oninput="asapWeb.seek(this.value)" />
	</p>
	<p>To play something from the ASMA archive without downloading it, use search on the <a href="http://asma.atari.org">ASMA website</a>.</p>
</page>
