<page title="Web">
	<script src="asap.js"> </script>
	<script src="asapweb.js"> </script>
	<script>
		function openFiles(files)
		{
			const select = document.getElementById("fileSelect");
			switch (files.length) {
			case 0:
				alert("No supported file selected");
				return;
			case 1:
				select.style.display = "none";
				break;
			default:
				select.innerHTML = "";
				for (const file of files)
					select.add(new Option(file.name));
				select.style.display = "";
				break;
			}
			document.getElementById("pauseButton").style.display = "";
			asapWeb.playFile(files[0]);
		}
	</script>
	<p>Play your local Atari 8-bit chiptunes on this page, using a pure-JavaScript player.</p>
	<p>Select file(s):
		<input id="fileInput" type="file" multiple="multiple" onchange="openFiles(this.files)" accept=".sap,.cmc,.cm3,.cmr,.cms,.dmc,.dlt,.mpt,.mpd,.rmt,.tmc,.tm8,.tm2,.fc" />
		<select id="fileSelect" onchange="asapWeb.playFile(fileInput.files[this.selectedIndex])" style="display: none"> </select>
		<input id="pauseButton" type="button" value="Pause" style="display: none" onclick="asapWeb.togglePause()" />
	</p>
</page>
