<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ASAP - Another Slight Atari Player" Language="1033"
		Version="$(var.VERSION)" Manufacturer="Piotr Fusik"
		UpgradeCode="4250B3CB-D4A1-4486-828C-AC26A84D00D9">

		<Package Description="ASAP - Another Slight Atari Player"
			Manufacturer="Piotr Fusik" InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="asap.cab" EmbedCab="yes" />

		<Icon Id="wasap.ico" SourceFile="wasap/wasap.ico" />
		<Property Id="ARPHELPLINK" Value="http://asap.sourceforge.net/" />
		<Property Id="ARPPRODUCTICON" Value="wasap.ico" />
		<Property Id="ARPNOREPAIR" Value="1" />
		<UIRef Id="WixUI_FeatureTree" />
		<!-- <WixVariable Id="WixUILicenseRtf" Value="COPYING.rtf" /> -->
		<!-- <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" /> -->
		<!-- <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" /> -->

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="ASAP.DIR" Name="ASAP">
					<Component Id="wasap.exe" Guid="*">
						<File Id="wasap.exe" Name="wasap.exe" Source="wasap.exe" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="asap2wav.exe" Guid="*">
						<File Id="asap2wav.exe" Name="asap2wav.exe" Source="asap2wav.exe" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="path" Guid="D7247D41-0B9A-42D3-9847-06C37F88E2ED">
						<Environment Id="path" Action="set" Name="Path" Part="last" Permanent="no" System="yes" Value="[ASAP.DIR]" />
						<CreateFolder />
					</Component>
					<Component Id="asap_dsf.dll" Guid="*">
						<File Id="asap_dsf.dll" Name="asap_dsf.dll" Source="asap_dsf.dll" Checksum="yes" KeyPath="yes">
							<Class Id="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Context="InprocServer32" Description="ASAP source filter" ThreadingModel="both" />
						</File>
						<RegistryValue Root="HKCR" Key="CLSID\{083863F1-70DE-11D0-BD40-00A0C911CE86}\Instance\{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Name="FriendlyName" Value="ASAP source filter" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{083863F1-70DE-11D0-BD40-00A0C911CE86}\Instance\{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Name="CLSID" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{083863F1-70DE-11D0-BD40-00A0C911CE86}\Instance\{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Name="FilterData" Value="02000000000060000100000000000000307069330800000000000000010000000000000000000000307479330000000038000000480000006175647300001000800000AA00389B710100000000001000800000AA00389B71" Type="binary" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.cmc" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.cmr" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.cms" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.dmc" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.mpd" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.mpt" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.rmt" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.sap" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.tm2" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.tm8" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="Media Type\Extensions\.tmc" Name="Source Filter" Value="{8E6205A0-19E2-4037-AF32-B29A9B9D0C93}" Type="string" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.cmc" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.cmc" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.cmr" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.cmr" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.cms" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.cms" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.dmc" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.dmc" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.mpd" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.mpd" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.mpt" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.mpt" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.rmt" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.rmt" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.sap" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.sap" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.tm2" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.tm2" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.tm8" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.tm8" Name="Runtime" Value="7" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.tmc" Name="Permissions" Value="15" Type="integer" Action="write" />
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Multimedia\WMPlayer\Extensions\.tmc" Name="Runtime" Value="7" Type="integer" Action="write" />
					</Component>
					<Component Id="in_asap.dll" Guid="*">
						<File Id="in_asap.dll" Name="in_asap.dll" Source="in_asap.dll" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="foo_asap.dll" Guid="*">
						<File Id="foo_asap.dll" Name="foo_asap.dll" Source="foo_asap.dll" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="xbmc_asap.dll" Guid="*">
						<File Id="xbmc_asap.dll" Name="xbmc_asap.dll" Source="xbmc_asap.dll" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="ASAP_Apollo.dll" Guid="*">
						<File Id="ASAP_Apollo.dll" Name="ASAP_Apollo.dll" Source="ASAP_Apollo.dll" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="gspasap.dll" Guid="*">
						<File Id="gspasap.dll" Name="gspasap.dll" Source="gspasap.dll" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="apokeysnd.dll" Guid="*">
						<File Id="apokeysnd.dll" Name="apokeysnd.dll" Source="apokeysnd.dll" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="README_WindowsSetup.html" Guid="*">
						<File Id="README_WindowsSetup.html" Name="README_WindowsSetup.html" Source="README_WindowsSetup.html" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="wasap" Title="WASAP" Level="1" ConfigurableDirectory="ASAP.DIR" Description="Tiny player controlled by a tray icon." AllowAdvertise="no">
			<ComponentRef Id="wasap.exe" />
		</Feature>
		<Feature Id="asap2wav" Title="ASAP2WAV" Level="1" ConfigurableDirectory="ASAP.DIR" Description="Command-line converter to WAV files." AllowAdvertise="no">
			<ComponentRef Id="asap2wav.exe" />
			<Feature Id="path" Title="Add to Path" Level="1" Description="Add the directory to the Path environment variable so that you don't have to type the location of asap2wav at the command prompt." AllowAdvertise="no">
				<ComponentRef Id="path" />
			</Feature>
		</Feature>
		<Feature Id="asap_dsf" Title="Windows Media Player plugin" Level="1" Description="Plugin for Windows Media Player." AllowAdvertise="no">
			<ComponentRef Id="asap_dsf.dll" />
		</Feature>
		<Feature Id="in_asap" Title="Winamp plugin" Level="1" Description="Plugin for Winamp." AllowAdvertise="no">
			<ComponentRef Id="in_asap.dll" />
		</Feature>
		<Feature Id="foo_asap" Title="foobar2000 0.9 plugin" Level="1" Description="Plugin for foobar2000 (version 0.9.x only)." AllowAdvertise="no">
			<ComponentRef Id="foo_asap.dll" />
		</Feature>
		<Feature Id="xbmc_asap" Title="XBMC plugin" Level="1" Description="Plugin for XBMC (Windows and XBox)." AllowAdvertise="no">
			<ComponentRef Id="xbmc_asap.dll" />
		</Feature>
		<Feature Id="ASAP_Apollo" Title="Apollo plugin" Level="1" Description="Plugin for Apollo." AllowAdvertise="no">
			<ComponentRef Id="ASAP_Apollo.dll" />
		</Feature>
		<Feature Id="gspasap" Title="GSPlayer plugin" Level="1" Description="Plugin for GSPlayer (desktop Windows only)." AllowAdvertise="no">
			<ComponentRef Id="gspasap.dll" />
		</Feature>
		<Feature Id="apokeysnd" Title="Raster Music Tracker sound emulation" Level="1" Description="POKEY sound emulation engine for Raster Music Tracker." AllowAdvertise="no">
			<ComponentRef Id="apokeysnd.dll" />
		</Feature>
		<Feature Id="docs" Title="Documentation" Level="1" ConfigurableDirectory="ASAP.DIR" Description="Documentation file." AllowAdvertise="no">
			<ComponentRef Id="README_WindowsSetup.html" />
		</Feature>
	</Product>
</Wix>
