<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.sf.asap" android:versionCode="501" android:versionName="5.0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="@string/app_name" android:icon="@drawable/icon" android:description="@string/app_description" android:theme="@style/Theme">
		<activity android:name=".ArchiveSelector" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		<activity android:name=".FileSelector" />
		<activity android:name=".Player" android:label="@string/play_in_asap" android:launchMode="singleTop" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:mimeType="*/*" />
				<data android:scheme="file" android:host="*" />
				<data android:pathPattern=".*\\.sap" />
				<data android:pathPattern=".*\\.cmc" />
				<data android:pathPattern=".*\\.cm3" />
				<data android:pathPattern=".*\\.cmr" />
				<data android:pathPattern=".*\\.cms" />
				<data android:pathPattern=".*\\.dmc" />
				<data android:pathPattern=".*\\.dlt" />
				<data android:pathPattern=".*\\.mpt" />
				<data android:pathPattern=".*\\.mpd" />
				<data android:pathPattern=".*\\.rmt" />
				<data android:pathPattern=".*\\.tmc" />
				<data android:pathPattern=".*\\.tm8" />
				<data android:pathPattern=".*\\.tm2" />
				<data android:pathPattern=".*\\.fc" />
				<data android:pathPattern=".*\\.atr" />
			</intent-filter>
		</activity>
		<provider android:name=".ArchiveSuggestionsProvider" android:authorities="net.sf.asap.ArchiveSuggestionsProvider" />
		<service android:name=".PlayerService" android:label="@string/player_service" />
		<receiver android:name=".MediaButtonEventReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
